.cf::after {
	display: block;
	content: '';
	clear: both;
}
.skip_navigation {
	display: none;
}
.inner_wrap {
	position: relative;
	max-width: 1280px;
	padding: 0 20px;
	margin: 0 auto;
}

/* 어바웃 */
.about {
	padding-top: 30px;
}

.table_wrap {
	margin-bottom: 50px;
}
.table_wrap h3 {
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
	width: auto;
	font-size: 14px;
	font-weight: 500;
}
.table_wrap h3::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: calc(100% + 10px);
	height: 50%;
	background-color: rgba(0, 100, 255, 0.2);
	content: '';
	z-index: -1;
}

.table_wrap table {
	width: 100%;
	font-size: 12px;
	border-top: 2px solid #000;
}
.table_wrap table tr {
	border-bottom: 1px solid #eee;
}
.table_wrap table th,
.table_wrap table td {
	vertical-align: middle;
	padding: 10px 5px;
}
.table_wrap table thead th {
	background-color: #f5f5f5;
	font-weight: 700;
}
.table_wrap table tbody th {
	border-right: 1px solid #eee;
}
.table_wrap table td {
	line-height: 1.4;
}

/* 포트폴리오 */
.portfolio {
	padding-top: 30px;
}
.linkbox {
	margin-bottom: 20px;
	z-index: 1;
}
.linkbox a {
	float: right;
	display: block;
	padding: 10px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	border-radius: 2px;
	background-color: rgba(0, 100, 255, 0.5);
}
.pf_wrapper {
}

.pf {
	margin: 100px 0 150px;
}
.pf > div {
	position: relative;
}

.pf .left_con {
	width: 60%;
	float: left;
	text-align: center;
}
.pf .left_con img {
	text-align: center;
}
.pf .left_con .pc {
	width: 75%;
	margin-bottom: 30px;
}
.pf .left_con .tablet {
	position: absolute;
	left: 30px;
	bottom: 0;
	width: 40%;
}
.pf .left_con .mobile {
	position: absolute;
	right: 50px;
	bottom: 0;
	width: 14%;
}
.pf .right_con {
	float: right;
	width: 40%;
}
.pf .right_con .table_wrap {
	margin-bottom: 20px;
}
.pf .right_con .shortcut {
	margin: 3px 0;
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #06c;
	border-radius: 3px;
	padding: 13px;
	font-size: 14px;
}
.pf .right_con .shortcut:hover {
	background-color: #06b;
}
.pf .right_con .contribute {
	font-size: 10px;
	line-height: 2;
	color: #aaa;
}
.show_more {
	padding: 10px 5px;
	display: block;
	width: 300px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 2px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-size: 12px;
}

/* 컨택 */
.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Bitter', 'Noto Sans KR';
}
.contact .img_wrap {
	margin: 0 auto 50px;
	width: 280px;
	height: 280px;
	border-radius: 50%;
	overflow: hidden;
}
.contact .img_wrap img {
	width: 100%;
}
.contact li {
	font-size: 32px;
	text-align: center;
	line-height: 2;
	letter-spacing: 0.2em;
}
.contact li a {
	text-decoration: underline;
}
.contact li:hover a {
	color: #06c;
	text-decoration-color: #06c;
}
@media screen and (max-width: 1024px) {
	.pf {
		margin: 50px 0;
	}
	.pf .left_con,
	.pf .right_con {
		float: none;
		width: 100%;
	}
	.pf .left_con {
		margin-bottom: 20px;
	}
	.pf .left_con .tablet:nth-child(2) {
		left: 0;
	}
	.pf .left_con :nth-child(3),
	.pf .left_con .mobile {
		right: 0 !important;
	}
}
